
<h1><%= @post.title %></h1>
<%= @post.content %><br>

<% @post.categories.each do |category| %>
  <%= category.name %><br>
<% end %>

<ul>
<% @post.comments.each do |comment| %>
  <li><%= comment.user.username %> says: <%= comment.content %></li>
<% end %>
</ul>

<% @post.users.uniq().each do |user| %>
  <%= link_to user.username, user_path(user) %><br>
<% end %>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.collection_select :user_id, User.all, :id, :username %>

  <%= f.fields_for :user, User.new do |user_field| %>
    <%= user_field.label :username %>
    <%= user_field.text_field :username %>
  <% end %>

  <%= f.label :content, "New Comment" %>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>
